.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: app-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(182, 174, 174);
}

.logo {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.logo-name {
  display: flex;
  flex-direction: row;
}

nav a {
  text-decoration: none;
  color: blue;
  margin-right: 20px;
}

.each-rocket {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
}

img {
  height: 300px;
  width: 300px;
  margin-left: 5px;
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rocket-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
}

.description {
  text-align: start;
}

#member {
  width: 100%;
  font-size: 8px;
}

.t-body:nth-child(even) {
  background-color: whitesmoke;
}
